<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mausam</title>
  <link rel="stylesheet" href="/assets/css/styles.css">
 
  <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon_io/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon_io/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon_io/favicon-16x16.png">
  <link rel="manifest" href="assets/favicon_io/site.webmanifest">
</head>

<body>
  {{>header}} <br><br><br><br>
  <h4>Use this site to check the weather:</h4>
  <form>
    <input type="text" placeholder="Enter Location" name="address" id="address"><br><br>
    <button>search</button>
  </form>
  <h2> </h2>
  <p id="msg1"></p>
  
  {{>footer}}
</body>
<script src="/assets/js/app.js"></script>

</html>